body {
    margin: 0 auto;
    padding: 0;
    width: 100vw;
    height: 100vh;
    
    align-items: center;
    justify-content: flex-start;
    font-family: 'Forma DJR Banner', sans-serif;
}

@media(min-width:375px){
    .slider {
        margin: auto;
        width: 375px;       
        height: 213px;      
        overflow: hidden;
    }
    .slides input {
        display: none;
    }
    .slides {
        width: 400%;   
        height: 213px;
        display: flex;
    }
    .slide {
        width: 25%; 
    }
    .slide img {
        width: 375px; 
        height: 213px;
    }
    .information h1 {
        margin-top: 15%;    
        text-align: left;
        margin-left: 15%;   
        font-size: 16px;
        line-height: 1.5em;
    }
    .information h2 {
        color: darkgrey;
        text-align: left;
        margin-left: 15%; 
        font-size: 14px; 
        line-height: 1.5em;
        margin-top: 1rem !important;
    }
    .quadradosorganizados {
        margin-top: 10%; 
        margin-bottom: 10%; 
        width: auto;
        height: auto; 
        display: inline-block;
        text-align: center;
    }
    .doisquadrados,
    .outrosdoisquadrados {
        display: inline-flex;
        margin-left: 0;
    }
    .estudioimg,
    .producaoimg,
    .imglavabo,
    .reuniaoimg {
        text-align: center;
        width: 136px;      
        height: 136px;     
        display: block;
        margin-right: 5px; 
        border-radius: 5px ;
    }
    .estudioimg img,
    .producaoimg img,
    .imglavabo img,
    .saladereuniao img{
        width: 136px; 
        height: 136px;
        border-radius: 5px;
    }
    .estudio label,
    .saladereuniao label,
    .saladeproducao label,
    .lavabo label {
        text-align: center;
        font-size: 12px; 
        text-align: left;
        margin-top: 15%;
    }
    .textimgarbo {
        text-align: center;
        width: 375px;
    }
    .infoestudioarbo h1 {
        text-align: left;
        margin-left: 1%;
        margin-top: 55%;
        font-size: 15px; 
        width: 100% !important;
    }
    .infoestudioarbo label {
        margin-top: 10%;
        margin-left: 5%;
        text-align: left;
        font-size: 15px; 
    }
    .imginfoarbo {
        text-align: right;
        margin-top: 10%;   
        width: 375px;      
        height: 178px;     
    }
    
    .textimgarbo {
        text-align: center;
        font-size: 18px;
        width: 100%;
        
    }
    .TextandImage{
        display: flex;
        flex-direction: column !important; 
        margin-left: 0 !important;
    }

    .imginfoarbo img{
        text-align: right;
        margin-top: 10%;        
        width: 375px;           
        height: 275px;          
    }
    .filmagem {
        margin-top: 15%;
        width: 374.8px;
        height: 360px;
        background-image: url(../img/FILMAGEMTAMANHOM.png);
        background-repeat: no-repeat;
        text-align: center;
        font-family: 'Forma DJR Deck' sans-serif;
    }
    .filmagem label{
        font-size: 15px; 
        color: white;
        /* margin: 10px;  */
        line-height: 1.5em;
    }
    .filmagem h2{
        font-size: 15px; 
        margin-left: 32%;
        color: white;
        margin-top: 15%; 
        margin-left: -4rem !important; 
        margin-top: 2rem !important;
        margin-bottom: 2rem !important; 
    }
    .fotografia{
        /* margin-top: 15%; */
        width: 374.8px;
        height: 360px;
        background-image: url(../img/FOTOGRAFIATAMANHOM.png);
        background-repeat: no-repeat;
        text-align: center;
        font-family: 'Forma DJR Deck' sans-serif;
    }
    .fotografia label{
        font-size: 14px; 
        color: white;
        margin: 5px; 
        line-height: 1.5em;
    }
    .fotografia h2{
        font-size: 15px; 
        margin-left: 32%;
        color: white;
        margin-left: -4rem !important; 
        margin-top: 1rem !important;
        margin-bottom: 1rem !important;
    }
    .reunioescomerciais {
    width: 374.8px;
    height: 360px;
    background-image: url(../img/REUNIAOCOMERCIALTAMANHOM.png);
    background-repeat: no-repeat;
    text-align: center;
    font-family: 'Forma DJR Deck' sans-serif;
    }
    .reunioescomerciais label {
    font-size: 14px; 
    color: white;
    margin: 10px; 
    line-height: 1.5em;
    }
    .reunioescomerciais h2 {
    font-size: 20px; 
    margin: 2rem !important;
    color: white;
    margin-left: -13rem !important; 
    }
    .filmagem button,
    .fotografia button,
    .reunioescomerciais button {
    background: none;
    height: 50px;
    width: 180px;
    border-radius: 25px;
    border-color: white;
    font-size: 20px;
    margin-top: 3%; /* Ajustado para a nova resolução */
    color: white;
    font-size: 15px;
    }
    .sobreestudio,
    .sobresalareuniao {
    display: block;
    margin-bottom: 5%;
    margin-top: 15%;
    margin-left: 5%; 
    font-size: 16px; 
    color: darkgrey;
    line-height: 1.5em;
    font-family: 'Forma DJR Deck' sans-serif;
    }
    .sobreestudio h2,
    .sobresalareuniao h2 {
    text-align: left;
    font-size: 20px; 
    color: black;
    }
    .sobreestudio button,
    .sobresalareuniao button {
    background: none;
    height: 50px;
    width: 180px;
    border-radius: 25px;
    border-color: black;
    font-size: 15px;
    color: darkgrey;
    font-size: 16px;
    margin-left: 5%;
    margin-top: 5%; 
    }
    .especificacaoestudio {
    line-height: 1.5em;
    margin-left: 5%; 
    }
    .especificacaoestudio li {
    line-height: 2em;
    font-size: 16px; 
    }
    .especificacaoestudio h2 {
    margin-top: 25%;
    margin-left: 0%; 
    color: black;
    font-size: 20px;
    }
    .agendamentocombotao {
    background-size: cover;
    background-image: url(../img/facaseuagendamento.png);
    width: 375px; 
    height: 362px;
    text-align: left;
    }
    .agendamentocombotao button {
    margin-top: 10%;
    margin-left: 5%; 
    background-color: #E5C167;
    border: none;
    font-size: 18px;
    width: 250px;
    height: 45px; 
    border-radius: 35px; 
    font-family: 'Forma DJR Banner', sans-serif;
    color: white;
    }
    .agendamentocombotao h1 {
    color: white;
    margin-left: 5%; /* Ajustado para a nova resolução */
    margin-top: 15%; /* Ajustado para a nova resolução */
    font-size: 25px; /* Ajustado para a nova resolução */
    line-height: 1.5em;
    font-family: 'Forma DJR Banner', sans-serif;
    }
    .final {
    display: flex;
    color: black;
    }
    .final h2 {
    font-size: 15px;
    color: black;
    }
    .agendamento {
    display: block;
    text-align: left;
    }
    .agendamento label {
    margin-left:0; 
    font-size: 10px;  
    }
    .endeco {
    margin-right: 5%; /* Ajustado para a nova resolução */
    }
    .endeco h1 {
    text-align: right;
    }
    .endeco label {
    text-decoration: none;
    text-align: left;
    color: black;
    font-size: 10px; 
    margin-left: 10%;
    display: block;
    }
    .logos {
    display: block;
    }
    .paradesktop{
        display: none;
    }
    .logos img {
    margin-left: 2.5%;  
    margin-top: 2.5%;   
    margin-bottom: 0.5%;
    }
    .caixabtn {
    position: absolute;
    right: 50px;         
    bottom: 60px;     
    }
    .caixabtn button {
    position: fixed;
    border-radius: 24px; /* Ajustado para a nova resolução */
    background-image: url(../img/IconeWhatsApp.png);
    border: none;
    object-fit: cover;
    text-decoration: none;
    width: 48px; /* Mantido */
    height: 48px; /* Mantido */
    }
    .arboretologo {
            display: none;
    }
    
    .arboretologocelular {
            position: absolute;
    }
}

@media(min-width:430px){
    .slider {
        margin: auto;
        width: 430px;       
        height: 250px;      
        overflow: hidden;
    }
    .slides input {
        display: none;
    }
    .slides {
        width: 400%;   
        height: 250px; 
        display: flex;
    }
    .slide {
        width: 25%; 
    }
    .slide img {
        width: 430px; 
        height: 250px;
    }
    .information h1 {
        margin-top: 15%;    
        text-align: left;
        font-size: 25px;
        line-height: 1.5em;
    }
    .information h2 {
        color: darkgrey;
        text-align: left;
        margin-left: 15%; 
        font-size: 20px; 
        line-height: 1.5em;
    }
    .quadradosorganizados {
        margin-top: 10%; 
        margin-bottom: 10%; 
        width: 430px;
        height: 430px; 
        display: inline-block;
        text-align: center;
    }
    .doisquadrados,
    .outrosdoisquadrados {
        /* display: inline-block; */
        margin-left: 0;
    }
    .estudioimg,
    .producaoimg,
    .imglavabo,
    .reuniaoimg {
        text-align: center;
        width: 200px;      
        height: 200px;     
        /* display: block; */
        margin-right: 5px; 
    }
    .estudioimg img,
    .producaoimg img,
    .imglavabo img,
    .saladereuniao img{
        width: 200px; 
        height: 200px;
    }
    .estudio label,
    .saladereuniao label,
    .saladeproducao label,
    .lavabo label {
        text-align: center;
        font-size: 20px; 
        text-align: left;
        margin-top: 15%;
    }

    .textimgarbo {
        text-align: center;
        font-size: 18px;
        width: 100%;

    }

    .TextandImage{
        display: flex;
        flex-direction: column !important; 
        margin-left: 0 !important;
    }
    .infoestudioarbo h1 {
        text-align: left;
        margin-left: 1%;
        margin-top: 55%;
        font-size: 18px; 
        line-height: 1.5em;
        width: 100% !important;
    }
    .infoestudioarbo label {
        margin-top: 10%;
        margin-left: 5%;
        text-align: left;
        font-size: 20px; 
    }
    .imginfoarbo {
        text-align: right;
        width: 430px;      
        height:230px;     
    }
    .imginfoarbo img{
        text-align: right;
        /* margin-top: 10%;         */
        width: 430px;           
        height: 350px;          
    }
    .filmagem {
        margin-top: 15%;
        width: 430px;
        height: 400px;
        background-image: url(../img/FILMAGEMTAMANHOM.png);
        background-repeat: no-repeat;
        text-align: center;
        font-family: 'Forma DJR Deck' sans-serif;
    }
    .filmagem label{
        font-size: 15px; 
        color: white;
        /* margin: 10px; */
        line-height: 0.5em;
    }
    .filmagem h2{
        font-size: 20px; 
        margin-left: 32%;
        color: white;
        margin-top: 8%; 
        margin-left: -3rem 
        !important;
    }
    .fotografia{
        /* margin-top: 15%; */
        width: 430px;
        height: 400px;
        background-image: url(../img/FOTOGRAFIATAMANHOM.png);
        background-repeat: no-repeat;
        /* text-align: center; */
        font-family: 'Forma DJR Deck' sans-serif;
    }
    .fotografia label{
        font-size: 15px; 
        color: white;
        margin: 5px; 
        line-height: 0.5em;
    }
    .fotografia h2{
        font-size: 20px; 
        margin-left: 32%;
        color: white;
        margin-top: 5%; 
        margin-left: -3rem 
        !important;
    }
    .reunioescomerciais {
    width: 430px;
    height: 400px;
    background-image: url(../img/REUNIAOCOMERCIALTAMANHOM.png);
    background-repeat: no-repeat;
    text-align: center;
    font-family: 'Forma DJR Deck' sans-serif;
    object-fit: cover;
    }
    .reunioescomerciais label {
    font-size: 16px; 
    color: white;
    margin: 12px; 
    line-height: 0.5em;
    }
    .reunioescomerciais h2 {
    font-size: 20px; 
    margin-left: 20%;
    color: white;
    margin-top: 5%; 
    margin-left: -12rem
        !important;
    
    }
    .filmagem button,
    .fotografia button,
    .reunioescomerciais button {
    background: none;
    height: 45px;
    width: 180px;
    border-radius: 25px;
    border-color: white;
    margin-top: 6%; 
    color: white;
    font-size: 15px;
    }
    .sobreestudio,
    .sobresalareuniao {
    display: block;
    margin-bottom: 5%;
    margin-top: 15%;
    margin-left: 5%; 
    font-size: 20px; 
    color: darkgrey;
    line-height: 1.5em;
    font-family: 'Forma DJR Deck' sans-serif;
    }
    .sobreestudio h2,
    .sobresalareuniao h2 {
    text-align: left;
    font-size: 20px; 
    color: black;
    }
    .sobreestudio button,
    .sobresalareuniao button {
    background: none;
    height: 50px;
    width: 200px;
    border-radius: 25px;
    border-color: black;
    font-size: 20px;
    color: darkgrey;
    font-size: 15px;
    margin-left: 5%;
    margin-top: 10%; 
    }
    .especificacaoestudio {
    line-height: 1.5em;
    margin-left: 5%; 
    }
    .especificacaoestudio li {
    line-height: 2em;
    font-size: 20px; 
    }
    .especificacaoestudio h2 {
    margin-top: 25%;
    margin-left: 0%; 
    color: black;
    font-size: 30px;
    }
    .agendamentocombotao {
    background-size: cover;
    background-image:url(../img/facaseuagendamento.png);
    width: 430px; 
    height: 362px;
    /* text-align: left; */
    }
    .agendamentocombotao button {
    margin-top: 9%;
    margin-left: 5%; 
    background-color: #E5C167;
    border: none;
    font-size: 18px;
    width: 250px;
    height: 45px; 
    border-radius: 35px; 
    font-family: 'Forma DJR Banner', sans-serif;
    color: white;
    }
    .agendamentocombotao h1 {
    color: white;
    margin-left: 5%; /* Ajustado para a nova resolução */
    margin-top: 15%; /* Ajustado para a nova resolução */
    font-size: 25px; /* Ajustado para a nova resolução */
    line-height: 1.5em;
    font-family: 'Forma DJR Banner', sans-serif;
    }
    .final {
    display: flex;
    color: black;
    }
    .final h2 {
    font-size: 15px;
    color: black;
    }
    .agendamento {
    display: block;
    text-align: left;
    }
    .agendamento label {
    margin-left:0; 
    font-size: 13px;  
    }
    .endeco {
    margin-right: 5%; /* Ajustado para a nova resolução */
    }
    .endeco h1 {
    text-align: right;
    }
    .endeco label {
    text-decoration: none;
    text-align: left;
    color: black;
    font-size: 13px; 
    margin-left: 5%;
    display: block;
    }
    .logos {
    display: block;
    }
    .logos img {
    margin-left: 2.5%;  
    margin-top: 2.5%;   
    margin-bottom: 0.5%;
    }
    .paradesktop{
        display: none;
    }
    .caixabtn {
    position: absolute;
    right: 50px;         
    bottom: 60px;     
    }
    .caixabtn button {
    position: fixed;
    border-radius: 24px; /* Ajustado para a nova resolução */
    background-image: url(../img/IconeWhatsApp.png);
    border: none;
    object-fit: cover;
    text-decoration: none;
    width: 48px; /* Mantido */
    height: 48px; /* Mantido */
    }
    .arboretologo {
        display: none;
    }

    .arboretologocelular {
        position: absolute;
    }
}

@media(min-width:1439px){
    .slider {
        margin: auto;
        width: 1440px;       
        height: 600px;      
        overflow: hidden;
    }

    .slides input {
        display: none;
    }

    .slides {
        width: 400%;   
        height: 600px; 
        display: flex;
    }

    .slide {
        width: 25%; 
    }

    .slide img {
        width: 1440px; 
        height: 600px;
    }

    .information h1 {
        text-align: left;
        font-size: 48px;
        line-height: 57.6px;
        font-family: 'Forma DJR Deck' sans-serif;
    }

    .information h2 {
        margin-top: -2rem;
        color: darkgrey;
        text-align: left;
        font-size: 40px; 
        line-height: 48px;
        font-family: 'Forma DJR Deck' sans-serif;
    }

    .quadradosorganizados {
        margin-top: 10%; 
        margin-bottom: 10%; 
        width: 1440px;
        height: 1400px; 
        display: inline-block;
        text-align: center;
    }

    .estudioimg,
    .producaoimg,
    .imglavabo,
    .reuniaoimg {
        text-align: center;
        width: 515px;      
        height: 515px;     
        margin-right: 25%; 
    }
    .estudioimg img,
    .producaoimg img,
    .imglavabo img,
    .saladereuniao img{
        width: 515px; 
        height: 515px;
    }
    .estudio label,
    .saladereuniao label,
    .saladeproducao label,
    .lavabo label {
        font-size: 30px; 
        text-align: left;
        margin-top: 15%;
    }

    .TextandImage {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-left: 15rem;
    }
    .textimgarbo {
        display: flex;
        align-items: center;
        flex-direction: column;
        font-size: 40px;
        width: 100%;
    }
    .infoestudioarbo h1 {
        text-align: left;
        font-size: 48px;
        line-height: 1.0em;
        overflow: hidden;
        width: 1040px;
        
    }
    .textostudioarboretto{
        
        overflow: hidden;
        width: 30%;
    }
    .infoestudioarbo label {
        text-align: left;
        font-size: 35px; 
    }
    
    .imginfoarbo {
        width: 650px;      
        height: 650px;     
    }
    .filmagem {
        margin-top: 15%;
        width: 1440px;
        height: 1229px;
        background-image: url(../img/FILMAGEMGRANDE.png);
        /* background-repeat: no-repeat; */
        text-align: center;
        object-fit: cover;
        font-family: 'Forma DJR Deck' sans-serif;
    }
    .filmagem label{
        font-size: 45px; 
        color: white;
        margin: 10px;
        line-height: 3.5rem;
    }
    .filmagem h2{
        text-align: left;
        font-size: 50px; 
        padding-left: 8rem;
        color: white;
        margin-top: 2rem;
    }
    .fotografia{
        width: 1440px;
        height: 1229px;
        background-image: url(../img/FOTOGRAFIAGRANDE.png);
        /* background-repeat: no-repeat; */
        text-align: center;
        object-fit: cover;
        font-family: 'Forma DJR Deck' sans-serif;
    }
    .fotografia label{
        font-size: 45px; 
        color: white;
        margin: 10px;
        line-height: 3.5rem;
        margin-top: 1rem;
    }
    .fotografia h2{
        text-align: left;
        font-size: 50px; 
        color: white; 
        padding-left: 7rem;
        margin-top: 2rem;
    }
    .reunioescomerciais {
        width: 1440px;
        height: 1229px;
        background-image: url(../img/REUNIAOGRANDE.png);
        /* background-repeat: no-repeat; */
        text-align: center;
        object-fit: cover;
        font-family: 'Forma DJR Deck' sans-serif;
    }
    .reunioescomerciais label {
        font-size: 45px; 
        color: white;
        margin: 10px;
        line-height: 3.5rem;
        margin-top: 2rem;
    }
    .reunioescomerciais h2 {
        text-align: left;
        font-size: 50px; 
        color: white;
        margin-top: 8%;  
        padding-left: 9rem;
    }

    .filmagem button,
    .fotografia button,
    .reunioescomerciais button {
    background: none;
    height: 89px;
    width: 350px;
    border-radius: 81px;
    border: 4px solid white;
    margin-top: 10%; 
    color: white;
    font-size: 25px;
    }

    .sobreestudio,
    .sobresalareuniao {
    display: block;
    margin-bottom: 5%;
    margin-top: 15%;
    margin-left: 5%; 
    font-size: 32px; 
    color: darkgrey;
    line-height: 1.5em;
    font-family: 'Forma DJR Deck' sans-serif;
    }
    .sobreestudio h2,
    .sobresalareuniao h2 {
    text-align: left;
    font-size: 38px; 
    color: black;
    margin-top: 2rem;
    }
    .sobreestudio button,
    .sobresalareuniao button {
    background: none;
    height: 50px;
    width: 300px;
    border-radius: 25px;
    border-color: black;
    font-size: 30px;
    color: darkgrey;
    margin-left: 5%;
    margin-top: 10%; 
    }
    .especificacaoestudio {
    line-height: 2rem;
    margin-left: 5%; 
    margin-bottom: 20rem;
    }
    .especificacaoestudio li {
    line-height: 2rem;
    font-size: 36px; 
    font-style: oblique;
    }

    .especificacaoestudio h2 {
    margin-top: 25%;
    margin-left: 0%; 
    color: black;
    font-size: 45px;
    }

    .agendamentocombotao {
    background-size: cover;
    background-image:url(../img/facaseuagendamento.png);
    width: 1440px; 
    height: 1440px;
    }
    .agendamentocombotao button {
    margin-top: 15%;
    margin-left: 5%; 
    background-color: #E5C167;
    border: none;
    font-size: 35px;
    width: 500px;
    height: 80px; 
    border-radius: 35px; 
    font-family: 'Forma DJR Banner', sans-serif;
    color: white;
    }
    .agendamentocombotao h1 {
    color: white;
    margin-left: 5%;
    margin-top: 25%;
    font-size: 65px;
    line-height: 1.5em;
    font-family: 'Forma DJR Banner', sans-serif;
    }
    .final {
    display: flex;
    color: black;

    margin-top: 10rem;
    }
    .final h2 {
    font-size: 50px;
    color: black;
    }
    .agendamento {
    display: block;
    text-align: left;
    }
    .agendamento label {
    font-size: 25px;  
    }
    .endeco {
    margin-left: 10%;
    margin-right: 20%; /* Ajustado para a nova resolução */
    }
    .endeco h1 {
    text-align: right;
    }
    .endeco label {
    text-decoration: none;
    text-align: left;
    color: black;
    font-size: 25px; 
    display: block;
    }
    .logos {
    display: block;
    width: 1440px;
    }
    .paracelular{
        display: none;
    }

    .logos img {
    margin-left: 2.5%;  
    margin-top: 2.5%;   
    margin-bottom: 0.5%;
    }
    .caixabtn {
    position: absolute;
    right: 50px;         
    bottom: 60px;     
    }
    .caixabtn button {
    position: fixed;
    border-radius: 24px; /* Ajustado para a nova resolução */
    background-image: url(../img/IconeWhatsApp.png);
    border: none;
    object-fit: cover;
    text-decoration: none;
    width: 48px; /* Mantido */
    height: 48px; /* Mantido */
    z-index: 9999;
    }
    .arboretologo {
        display: block;
        position: absolute;
    }
    .arboretologocelular {
        display: none;
    }
}

@media(max-width:1920px){
    .slider {
        margin: auto;
        width: 1920px;       
        height: 600px;      
        overflow: hidden;
    }

    .slides input {
        display: none;
    }

    .slides {
        width: 400%;   
        height: 600px; 
        display: flex;
    }

    .slide {
        width: 25%; 
    }

    .slide img {
        width: 1440px; 
        height: 600px;
    }

    .information h1 {
        text-align: left;
        font-size: 48px;
        line-height: 57.6px;
        font-family: 'Forma DJR Deck' sans-serif;
    }

    .information h2 {
        margin-top: -2rem;
        color: darkgrey;
        text-align: left;
        font-size: 40px; 
        line-height: 48px;
        font-family: 'Forma DJR Deck' sans-serif;
        margin-bottom: 7rem;
    }

    .quadradosorganizados {
        margin-top: 10%; 
        margin-bottom: 10%; 
        width: 1920px;
        height: 1400px; 
        display: inline-block;
        text-align: center;
    }

    .estudioimg,
    .producaoimg,
    .imglavabo,
    .reuniaoimg {
        text-align: center;
        width: 650px;      
        height: 650px;     
        margin-right: 25%; 
    }

    .estudioimg img,
    .producaoimg img,
    .imglavabo img,
    .saladereuniao img{
        width: 650px; 
        height: 650px;
    }


    .estudio label,
    .saladereuniao label,
    .saladeproducao label,
    .lavabo label {
        font-size: 30px; 
        text-align: left;
        margin-top: 15%;
    }

    .textimgarbo {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-size: 40px;
    }

    .TextandImage {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-left: 15rem;        
    }

    .infoestudioarbo h1 {
        text-align: left;
        font-size: 48px;
        line-height: 1.0em;
        overflow: hidden;
        width: 1500px;
        margin-top: 10rem;
    }
    .textostudioarboretto{
        
        overflow: hidden;
        width: 50%;
    }
    .infoestudioarbo label {
        text-align: left;
        font-size: 50px; 
        margin-left: -1rem;
        margin-right: 5rem;
    }
    
    .imginfoarbo {
        width: 1020px;      
        height: 1020px;     
    }
    .filmagem {
        position: relative;
        margin-top: 15%;
        width: 100vw;
        height: 1229px;
        /* background-image: url(../img/FILMAGEMGRANDE.png); */
        text-align: center;
        object-fit: cover;
        font-family: 'Forma DJR Deck' sans-serif;
        z-index: 100;
    }
    .filmagem img{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: center center no-repeat;
        object-fit: cover;
        z-index: -100;
    }
    .filmagem label{
        font-size: 45px; 
        color: white;
        margin: 10px;
        line-height: 3.5rem;
    }
    .filmagem h2{
        text-align: left;
        font-size: 50px; 
        padding-left: 13rem;
        color: white;
        margin-top: 2rem;
        margin-bottom: 7rem;
    }
    .fotografia{
        width: 1440px;
        height: 1229px;
        background-image: url(../img/FOTOGRAFIAGRANDE.png);
        /* background-repeat: no-repeat; */
        text-align: center;
        object-fit: cover;
        font-family: 'Forma DJR Deck' sans-serif;
    }

    .fotografia {
        position: relative;
        
        /* margin-top: 15%; */
        width: 100vw;
        height: 1229px;
        /* background-image: url(../img/FILMAGEMGRANDE.png); */
        text-align: center;
        object-fit: cover;
        font-family: 'Forma DJR Deck' sans-serif;
        z-index: 100;
    }
    .fotografia img{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: center center no-repeat;
        object-fit: cover;
        z-index: -100;
    }


    .fotografia label{
        font-size: 45px; 
        color: white;
        margin: 10px;
        line-height: 3.5rem;
        margin-top: 1rem;
    }
    .fotografia h2{
        text-align: left;
        font-size: 50px; 
        color: white; 
        padding-left: 13rem;
        margin-top: 2rem;
    }
    
    .reunioescomerciais {
        position: relative;
        
        /* margin-top: 15%; */
        width: 100vw;
        height: 1229px;
        /* background-image: url(../img/FILMAGEMGRANDE.png); */
        text-align: center;
        object-fit: cover;
        font-family: 'Forma DJR Deck' sans-serif;
        z-index: 100;
    }
    .reunioescomerciais img{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: center center no-repeat;
        object-fit: cover;
        z-index: -100;
    }

    .reunioescomerciais label {
        font-size: 45px; 
        color: white;
        margin: 10px;
        line-height: 3.5rem;
        margin-top: rem;
    }
    .reunioescomerciais h2 {
        text-align: left;
        font-size: 50px; 
        color: white;
        margin-top: 8%; 
        margin-bottom: 7rem;
        padding-left: 18rem;
    }

    .filmagem button,
    .fotografia button,
    .reunioescomerciais button {
    background: none;
    height: 89px;
    width: 350px;
    border-radius: 81px;
    border: 4px solid white;
    margin-top: 10%; 
    color: white;
    font-size: 25px;
    }

    .sobreestudio,
    .sobresalareuniao {
    display: block;
    margin-bottom: 5%;
    margin-top: 15%;
    margin-left: 5%; 
    font-size: 32px; 
    color: darkgrey;
    line-height: 1.5em;
    font-family: 'Forma DJR Deck' sans-serif;
    }
    
    .sobreestudio h2,
    .sobresalareuniao h2 {
    text-align: left;
    font-size: 70px; 
    color: black;
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin: 0;
    }
    .sobreestudio button,
    .sobresalareuniao button {
    background: none;
    height: 50px;
    width: 300px;
    border-radius: 25px;
    border-color: black;
    font-size: 30px;
    color: darkgrey;
    margin-left: 5%;
    margin-top: 10%; 
    }
    .especificacaoestudio {
    line-height: 2rem;
    margin-left: 5%; 
    margin-bottom: 20rem;
    }
    .especificacaoestudio li {
    line-height: 2rem;
    font-size: 36px; 
    font-style: oblique;
    }

    .especificacaoestudio h2 {
    margin-top: 25%;
    margin-left: 0%; 
    color: black;
    font-size: 50px;
    }

    .agendamentocombotao {
    background-size: cover;
    background-image:url(../img/facaseuagendamento.png);
    width: 1440px; 
    height: 1440px;
    }

    .agendamentocombotao {
        position: relative;
        
        /* margin-top: 15%; */
        width: 100vw;
        height: 1229px;
        /* background-image: url(../img/FILMAGEMGRANDE.png); */
        text-align: center;
        object-fit: cover;
        font-family: 'Forma DJR Deck' sans-serif;
        z-index: 100;
    }
    .agendamentocombotao img{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: center center no-repeat;
        object-fit: cover;
        z-index: -100;
    }

    .agendamentocombotao button {
    margin-top: 15%;
    margin-left: 5%; 
    background-color: #E5C167;
    border: none;
    font-size: 35px;
    width: 500px;
    height: 80px; 
    border-radius: 35px; 
    font-family: 'Forma DJR Banner', sans-serif;
    color: white;
    margin-bottom: 10rem;
    }

    .agendamentocombotao h1 {
    color: white;
    margin-left: 5%;
    margin-top: 25%;
    font-size: 65px;
    line-height: 1.5em;
    font-family: 'Forma DJR Banner', sans-serif;
    }
    .final {
    display: flex;
    color: black;

    margin-top: 10rem;
    }
    .final h2 {
    font-size: 50px;
    color: black;
    }
    .agendamento {
    display: block;
    text-align: left;
    }
    .agendamento label {
    font-size: 25px;  
    }
    .endeco {
    margin-left: 10%;
    margin-right: 20%; /* Ajustado para a nova resolução */
    }
    .endeco h1 {
    text-align: right;
    }
    .endeco label {
    text-decoration: none;
    text-align: left;
    color: black;
    font-size: 25px; 
    display: block;
    }
    .logos {
    display: block;
    width: 1440px;
    }
    .paracelular{
        display: none;
    }

    .logos img {
    margin-left: 2.5%;  
    margin-top: 2.5%;   
    margin-bottom: 0.5%;
    }


    .caixabtn {
    position: absolute;
    right: 120px;         
    bottom: 120px;     
    }
    .caixabtn button {
    position: fixed;
    border-radius: 24px; /* Ajustado para a nova resolução */
    background-image: url(../img/IconeWhatsApp.png);
    background-size: cover;
    border: none;
    object-fit: cover;
    background-repeat: no-repeat;
    text-decoration: none;
    width: 100px; /* Mantido */
    height: 100px; /* Mantido */
    }



    .arboretologo {
        display: block;
        position: absolute;
    }
    .arboretologocelular {
        display: none;
    }
}

.navegation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navegation-auto .auto-btn1{
    background-color: #FFF;
}

#radio2:checked ~ .navegation-auto .auto-btn2{
    background-color: #FFF;
}

#radio3:checked ~ .navegation-auto .auto-btn3{
    background-color: #FFF;
}

#radio4:checked ~ .navegation-auto .auto-btn4{
    background-color: #FFF;
}